<!-- Start Coming Soon Area -->
<div class="coming-soon-area ptb-50">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="coming-soon-content">
                <h2>We Are Launching Soon</h2>
                <div id="timer" class="flex-wrap d-flex justify-content-center">
                    <div id="days" class="align-items-center flex-column d-flex justify-content-center"></div>
                    <div id="hours" class="align-items-center flex-column d-flex justify-content-center"></div>
                    <div id="minutes" class="align-items-center flex-column d-flex justify-content-center"></div>
                    <div id="seconds" class="align-items-center flex-column d-flex justify-content-center"></div>
                </div>

                <form class="newsletter-form" data-bs-toggle="validator">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required
                            autocomplete="off">
                    </div>
                    <button type="submit" class="default-btn">Subscribe</button>
                    <div id="validator-newsletter" class="form-result"></div>
                    <p>If you would like to be notified when your app is live Please subscribe our mailing list</p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Coming Soon Area -->