<main class="overflow-hidden">
    <!-- ./Page header -->
    <header class="section header smart-business-header">
        <div class="shape-wrapper">
            <div class="shape-background shape-top center-xy"></div>
            <div class="shape-background shape-right"></div><!-- main shape -->
            <div class="background-shape"></div>
        </div>
        <div class="container">
            <div class="row gap-y">
                <div class="col-md-7">
                    <p class="regular small text-uppercase text-secondary">Scale up your ICT Products with</p>
                    <h1 class="extra-bold display-md-3 font-md">
                        WEB-NIX-LY <span class="d-block light">CONSULTING</span>
                    </h1>
                    <p class="lead">
                        To assist pioneers with finding methods of working so that individuals and execution
                        flourish.
                    </p>
                    <nav class="nav mt-5">
                        <a href="#" class="me-3 btn btn btn-rounded btn-outline-info bw-2">
                            <i class="fas fa-tag me-3"></i>
                            Plans & pricing
                        </a>
                        <a href="#" class="btn btn-rounded btn-primary bw-2">Start now</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main-shape-wrapper">
            <div data-aos="fade-left" data-aos-delay="300"><img src="assets/img/smart-business/header/main-shape.svg"
                    class="img-responsive main-shape" alt="">
            </div>
        </div>
    </header><!-- Features Carousel -->
    <section class="section features-carousel b-b">
        <div class="container-fluid pt-0">
            <div class="swiper-container" data-sw-autoplay="3500" data-sw-loop="true" data-sw-nav-arrows=".features-nav"
                data-sw-show-items="1" data-sw-space-between="30"
                data-sw-breakpoints='{"768": {"slidesPerView": 3}, "992": {"slidesPerView": 4}}'>
                <div class="swiper-wrapper px-1">
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/technology/cassandra.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Cassandra<br><span class="bold">Distributed Cluster</span></h4>
                                <p>Cassandra is a peer-to-peer distributed database that runs on a cluster of
                                    homogeneous, the cluster has no masters, no slaves or elected leaders, enables
                                    Cassandra to be
                                    highly available while having no single point of failure

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/smart-business/icons/strategy.svg" class="img-responsive"
                                        alt="">
                                </div>
                                <h4 class="mt-4">Design<br><span class="bold">Strategy</span></h4>
                                <p>Vulputate mi habitant curae; per facilisis. Ornare. Imperdiet curabitur, enim
                                    venenatis donec consequat adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/smart-business/icons/money.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Save<br><span class="bold">Money</span></h4>
                                <p>Vulputate mi habitant curae; per facilisis. Ornare. Imperdiet curabitur, enim
                                    venenatis donec consequat adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/smart-business/icons/user.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Business<br><span class="bold">Brain</span></h4>
                                <p>Vulputate mi habitant curae; per facilisis. Ornare. Imperdiet curabitur, enim
                                    venenatis donec consequat adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/smart-business/icons/worldwide.svg" class="img-responsive"
                                        alt="">
                                </div>
                                <h4 class="mt-4">Worldwide<br><span class="bold">Support</span></h4>
                                <p>Vulputate mi habitant curae; per facilisis. Ornare. Imperdiet curabitur, enim
                                    venenatis donec consequat adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/smart-business/icons/like.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Social<br><span class="bold">Settings</span></h4>
                                <p>Vulputate mi habitant curae; per facilisis. Ornare. Imperdiet curabitur, enim
                                    venenatis donec consequat adipiscing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/smart-business/icons/graph.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Insightful<br><span class="bold">Statistics</span></h4>
                                <p>Vulputate mi habitant curae; per facilisis. Ornare. Imperdiet curabitur, enim
                                    venenatis donec consequat adipiscing.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- Add Arrows -->
                <div class="text-primary features-nav features-nav-next"><span class="text-uppercase small">Next</span>
                    <i class="features-nav-icon fas fa-long-arrow-alt-right"></i>
                </div>
            </div>
        </div>
    </section><!-- ./Why Us -->
    <section class="section">
        <div class="container">
            <div class="row gap-y align-items-center">
                <div class="col-md-6">
                    <div class="section-heading">
                        <p class="text-primary bold small text-uppercase">some reasons</p>
                        <h2 class="bold">Leap forward to convey esteem return.</h2>
                    </div>
                    <p class="regular">
                        Our quick cycle prototyping procedure helps construct the collective soul, certainty, ability,
                        and social lucidity establishment of your kin to convey high worth execution results.
                    </p>
                    <a href="javascript:;" class="btn btn-outline-primary btn-rounded bw-2 mt-4">Read More</a>
                </div>
                <div class="col-md-6">
                    <div class="animate-bars">
                        <ul class="progress-bars whyus-progress-bars"></ul>
                    </div>
                </div>
            </div>
            <div class="row gap-y pt-5">
                <div class="col-6 col-md-3">
                    <div class="d-flex align-items-center"><i data-feather="box" width="36" height="36"
                            class="stroke-primary me-2"></i> <span class="counter bold text-darker font-md">273</span>
                    </div>
                    <p class="text-secondary m-0">Components</p>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex align-items-center"><i data-feather="download-cloud" width="36" height="36"
                            class="stroke-primary me-2"></i> <span class="counter bold text-darker font-md">654</span>
                    </div>
                    <p class="text-secondary m-0">Downloads</p>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex align-items-center"><i data-feather="sliders" width="36" height="36"
                            class="stroke-primary me-2"></i> <span class="counter bold text-darker font-md">7941</span>
                    </div>
                    <p class="text-secondary m-0">Followers</p>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex align-items-center"><i data-feather="award" width="36" height="36"
                            class="stroke-primary me-2"></i> <span class="counter bold text-darker font-md">654</span>
                    </div>
                    <p class="text-secondary m-0">New users</p>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-primary"><svg viewBox="0 0 2880 48"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
            </svg></div>
    </div><!-- You deserve better -->
    <section class="section bg-primary">
        <div class="container text-center">
            <div class="section-heading">
                <h2 class="bold text-contrast">You deserve better</h2>
                <p class="lead text-light">With Webnixly you will not only get a beautiful HTML template tou showoff
                    your web, but a complete starter kit to bring your application to life right away</p>
            </div>
        </div>
    </section><!-- Powerful Tools -->
    <section class="section">
        <div class="container mt-n9">
            <div class="row gap-y">
                <div class="col-md-6">
                    <div class="rounded media bg-contrast shadow-lg p-4 lift-hover">
                        <div class="shadow bg-primary text-contrast rounded-circle p-3 icon-xl mb-3 d-flex align-items-center justify-content-center"
                            data-aos="zoom-in"><i class="far fa-paper-plane fa-2x"></i></div>
                        <h5 class="bold text-capitalize">easy to integrate</h5>
                        <p class="text-secondary mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rounded media bg-contrast shadow-lg p-4 lift-hover">
                        <div class="shadow bg-primary text-contrast rounded-circle p-3 icon-xl mb-3 d-flex align-items-center justify-content-center"
                            data-aos="zoom-in"><i class="far fa-heart fa-2x"></i></div>
                        <h5 class="bold text-capitalize">seamlessly solution</h5>
                        <p class="text-secondary mb-0">Ut enim ad minima veniam, quis nostrum voluptatem accusantium
                            ullam corporis obcaecati optio quasi qui.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./Partners -->
    <section class="partners">
        <div class="container pt-4">
            <div class="swiper-container" data-sw-show-items="5" data-sw-space-between="30" data-sw-autoplay="2500">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="assets/img/logos/1.png" class="img-responsive" alt=""
                            style="max-height: 60px"></div>
                    <div class="swiper-slide"><img src="assets/img/logos/2.png" class="img-responsive" alt=""
                            style="max-height: 60px"></div>
                    <div class="swiper-slide"><img src="assets/img/logos/3.png" class="img-responsive" alt=""
                            style="max-height: 60px"></div>
                    <div class="swiper-slide"><img src="assets/img/logos/4.png" class="img-responsive" alt=""
                            style="max-height: 60px"></div>
                    <div class="swiper-slide"><img src="assets/img/logos/5.png" class="img-responsive" alt=""
                            style="max-height: 60px"></div>
                    <div class="swiper-slide"><img src="assets/img/logos/6.png" class="img-responsive" alt=""
                            style="max-height: 60px"></div>
                </div>
            </div>
        </div>
    </section><!-- Extend Core -->
    <section class="section extending-core border-top bg-light edge bottom-right">
        <div class="shapes-container">
            <div class="shape shape-circle">
                <div></div>
            </div>
        </div>
        <div class="container">
            <div class="row gap-y align-items-center">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <p class="text-primary bold small text-uppercase">enterprise integration</p>
                        <h2 class="bold">Extend with Web-Nix-Ly</h2>
                        <p>At the point when change is the lone steady, we set you up for the eccentric. At the point
                            when innovation is the best approach to separate and intricacy hinders you, we help you
                            construct the abilities required for your advanced development.</p>
                    </div><a href="#" class="btn btn-rounded btn-outline-primary bw-2 me-3">Know More</a> <a href="#"
                        class="btn btn-rounded btn-primary bw-2 bold text-contrast">Register Account</a>
                </div>
                <div class="col-lg-6">
                    <div class="icons-wrapper position-relative">
                        <div class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:100%; top: 30%;" data-aos="fade-left"><img
                                src="assets/img/integration/blossom.svg" class="img-responsive" alt=""></div>
                        <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:60%; top: -10%;" data-aos="fade-left"><img
                                src="assets/img/integration/dockbit.svg" class="img-responsive" alt=""></div>
                        <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:25%; top: 0%;" data-aos="fade-left"><img src="assets/img/integration/zapier.svg"
                                class="img-responsive" alt=""></div>
                        <div class="floating icon icon-2xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:0%; top: 50%;" data-aos="fade-left"><img
                                src="assets/img/integration/bitnami.svg" class="img-responsive" alt=""></div>
                        <div class="floating icon icon-2xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:23%; top: 70%;" data-aos="fade-left"><img src="assets/img/integration/slack.svg"
                                class="img-responsive" alt=""></div>
                        <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:65%; top: 44%;" data-aos="fade-left"><img
                                src="assets/img/integration/monero.svg" class="img-responsive" alt=""></div>
                        <div class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:95%; top: 83%;" data-aos="fade-left"><img
                                src="assets/img/integration/dropbox.svg" class="img-responsive" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- User Reviews -->
    <section class="section shape-testimonials bg-light">
        <div class="shapes-container">
            <div class="shape shape-triangle">
                <div></div>
            </div>
        </div>
        <div class="container bring-to-front">
            <div class="row align-items-center">
                <div class="col-md-6 order-sm-last">
                    <div class="image-background contain" style="background-image: url(assets/img/shps/map-dots.svg);">
                        <div class="user-reviews" id="user-review-nav">
                            <div class="review absolute user nav-item active" style="left: calc(50% - 40px); top: 75px;"
                                data-step="1"><img src="assets/img/avatar/1.jpg"
                                    class="img-responsive shadow rounded-circle aos-init" alt="..." data-aos="zoom-in">
                            </div>
                            <div class="review absolute user nav-item" style="left: 0; top: 140px;" data-step="2"><img
                                    src="assets/img/avatar/2.jpg" class="img-responsive shadow rounded-circle aos-init"
                                    alt="..." data-aos="zoom-in"></div>
                            <div class="review absolute user nav-item" style="left: calc(100% - 80px); top: 300px;"
                                data-step="3"><img src="assets/img/avatar/3.jpg"
                                    class="img-responsive shadow rounded-circle aos-init" alt="..." data-aos="zoom-in">
                            </div>
                            <div class="review absolute user nav-item" style="left: calc(100% - 80px); top: 200px;"
                                data-step="4"><img src="assets/img/avatar/4.jpg"
                                    class="img-responsive shadow rounded-circle aos-init" alt="..." data-aos="zoom-in">
                            </div>
                            <div class="review absolute user nav-item" style="left: 50%; top: 63%;" data-step="5"><img
                                    src="assets/img/avatar/5.jpg" class="img-responsive shadow rounded-circle aos-init"
                                    alt="..." data-aos="zoom-in"></div>
                            <div class="review absolute user nav-item" style="left: 27%; top: 30%;" data-step="6"><img
                                    src="assets/img/avatar/6.jpg" class="img-responsive shadow rounded-circle aos-init"
                                    alt="..." data-aos="zoom-in"></div>
                            <div class="review absolute user nav-item" style="left: 27%; top: 54%;" data-step="7"><img
                                    src="assets/img/avatar/7.jpg" class="img-responsive shadow rounded-circle aos-init"
                                    alt="..." data-aos="zoom-in"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body p-5">
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
                                data-sw-navigation="#user-review-nav">
                                <div class="swiper-wrapper" id="swiper-wrapper-8acce3b1604add54" aria-live="polite"
                                    style="transition-duration: 0ms; transform: translate3d(-538px, 0px, 0px);">
                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev"
                                        data-swiper-slide-index="6" role="group" aria-label="1 / 9"
                                        style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0"
                                        role="group" aria-label="2 / 9" style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" role="group"
                                        aria-label="3 / 9" style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="2" role="group"
                                        aria-label="4 / 9" style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="3" role="group"
                                        aria-label="5 / 9" style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="4" role="group"
                                        aria-label="6 / 9" style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="5" role="group"
                                        aria-label="7 / 9" style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="6"
                                        role="group" aria-label="8 / 9" style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                        data-swiper-slide-index="0" role="group" aria-label="9 / 9"
                                        style="width: 538px;">
                                        <blockquote><i class="fas fa-quote-left fa-3x"></i>
                                            <p class="text-dark lead bold">Sed ut perspiciatis unde omnis iste natus
                                                error sit voluptatem accusantium doloremque laudantium,totam rem
                                                aperiam.</p>
                                            <hr class="w-10 mt-5">
                                            <div class="small"><span class="bold d-block">Jane Doe,</span> Marketing
                                                Director</div>
                                        </blockquote>
                                    </div>
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-light">
        <div class="container">
            <h4 class="bold text-center mb-5">They trust us</h4>
            <div class="row gap-y">
                <div class="col-md-3 col-xs-4 col-6 px-md-5"><img src="assets/img/logos/1.png" alt=""
                        class="img-responsive mx-auto op-7" style="max-height: 60px;"></div>
                <div class="col-md-3 col-xs-4 col-6 px-md-5"><img src="assets/img/logos/2.png" alt=""
                        class="img-responsive mx-auto op-7" style="max-height: 60px;"></div>
                <div class="col-md-3 col-xs-4 col-6 px-md-5"><img src="assets/img/logos/3.png" alt=""
                        class="img-responsive mx-auto op-7" style="max-height: 60px;"></div>
                <div class="col-md-3 col-xs-4 col-6 px-md-5"><img src="assets/img/logos/4.png" alt=""
                        class="img-responsive mx-auto op-7" style="max-height: 60px;"></div>
            </div>
        </div>
    </section><!-- ./Features - hover animated -->
    <section class="section bg-light send-and-receive">
        <div class="container bring-to-front">
            <div class="row gap-y">
                <div class="col-md-6">
                    <div class="rounded bg-contrast shadow-box image-background off-left-background lift-hover p-4 ps-6 ps-md-9"
                        style="background-image: url(assets/img/payments/send.svg)">
                        <h3>Send Payments</h3>
                        <p class="text-secondary mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
                            eveniet nihil perspiciatis quia quidem quod ratione sapiente sint?</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rounded bg-contrast shadow-box image-background off-left-background lift-hover p-4 ps-6 ps-md-9"
                        style="background-image: url(assets/img/payments/receive.svg)">
                        <h3>Receive Payment</h3>
                        <p class="text-secondary mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
                            eveniet nihil perspiciatis quia quidem quod ratione sapiente sint?</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./CTA - Create Account -->
    <section class="section bg-contrast edge top-left b-b">
        <div class="container pt-5">
            <div class="d-flex align-items-center flex-column flex-md-row">
                <div class="text-center text-md-start">
                    <p class="light mb-0 text-primary lead">Ready to get started?</p>
                    <h2 class="mt-0 bold">Create an account now</h2>
                </div><a href="register.html" class="btn btn-primary btn-rounded mt-3 mt-md-0 ms-md-auto">Create
                    Webnixly account</a>
            </div>
        </div>
    </section>
</main>