<main class="overflow-hidden">
    <!-- ./Page header -->
    <header class="section header smart-business-header">
        <div class="shape-wrapper">
            <div class="shape-background shape-top center-xy"></div>
            <div class="shape-background shape-right"></div><!-- main shape -->
            <div class="background-shape"></div>
        </div>
        <div class="container">
            <div class="row gap-y">
                <div class="col-md-7">
                    <p class="regular small text-uppercase text-secondary">Scale up your ICT Products with</p>
                    <h1 class="extra-bold display-md-3 font-md">
                        WEB-NIX-LY <span class="d-block light">CONSULTING</span>
                    </h1>
                    <p class="lead">
                        To assist pioneers with finding methods of working so that individuals and execution
                        flourish.
                    </p>
                    <!-- <nav class="nav mt-5">
                        <a href="#" class="me-3 btn btn btn-rounded btn-outline-info bw-2">
                            <i class="fas fa-tag me-3"></i>
                            Plans & pricing
                        </a>
                        <a href="#" class="btn btn-rounded btn-primary bw-2">Start now</a>
                    </nav> -->
                </div>
            </div>
        </div>
        <div class="main-shape-wrapper">
            <div data-aos="fade-left" data-aos-delay="300"><img src="assets/img/technology/main-shape.svg"
                    class="img-responsive main-shape" alt="">
            </div>
        </div>
    </header><!-- Features Carousel -->
    <section class="section features-carousel b-b">
        <div class="container-fluid pt-0">
            <div class="swiper-container" data-sw-autoplay="3500" data-sw-loop="true" data-sw-nav-arrows=".features-nav"
                data-sw-show-items="1" data-sw-space-between="30"
                data-sw-breakpoints='{"768": {"slidesPerView": 3}, "992": {"slidesPerView": 4}}'>
                <div class="swiper-wrapper px-1">
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/technology/cassandra.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Cassandra<br><span class="bold">Distributed Cluster</span></h4>
                                <p>Cassandra is a peer-to-peer distributed database that runs on a cluster of
                                    homogeneous, the cluster has no masters, no slaves or elected leaders, enables
                                    Cassandra to be
                                    highly available while having no single point of failure

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/technology/elasticsearch.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Elasticsearch<br><span class="bold">Index Petabytes of Data</span></h4>
                                <p>Elasticsearch, RESTful, distributed search and analytics engine built on Apache
                                    Lucene.
                                    Multitenant-capable full-text search engine.
                                    High performance with dedicated master, data, ingestion nodes</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/technology/kafka.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Kafka<br><span class="bold">Mission-critical Even Streaming</span></h4>
                                <p>Distributed event streaming platform capable of handling trillions of events a day.
                                    High-throughput, low-latency platform, handling real-time data. A source of
                                    truth datastore, publish, subscribe and process any data from any point of time.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/technology/user.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">Design & Development<br><span class="bold">Simplify with
                                        scaffolding</span></h4>
                                <p>Application development with scaffolding tools, init on-fly
                                    Kickstart new projects, prescribing best practices and tools to help you deploy your
                                    application on-fly. Monolith to Microservice migration with cutting edge stack.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-2 px-sm-1">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div
                                    class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl">
                                    <img src="assets/img/technology/nginx.svg" class="img-responsive" alt="">
                                </div>
                                <h4 class="mt-4">NGINX<br><span class="bold">Deliver Modern Application at Scale and
                                        Secure</span></h4>
                                <p>Web Server, & Reverse Proxy with High Performance Load Balancer.Improve the
                                    Performance, Reliability, and Security of your Applications from internet malicious
                                    activity</p>
                            </div>
                        </div>
                    </div>
                </div><!-- Add Arrows -->
                <div class="text-primary features-nav features-nav-next"><span class="text-uppercase small">Next</span>
                    <i class="features-nav-icon fas fa-long-arrow-alt-right"></i>
                </div>
            </div>
        </div>
    </section><!-- ./Why Us -->
    <section class="section">
        <div class="container">
            <div class="row gap-y align-items-center">
                <div class="col-md-6">
                    <div class="section-heading">
                        <p class="text-primary bold small text-uppercase">results</p>
                        <h2 class="bold">Leap forward to convey esteem return.</h2>
                    </div>
                    <p class="regular">
                        Our quick cycle prototyping procedure helps construct the collective soul, certainty, ability,
                        and social lucidity establishment of your kin to convey high worth execution results.
                    </p>
                    <a href="javascript:;" class="btn btn-outline-primary btn-rounded bw-2 mt-4">Read More</a>
                </div>
                <div class="col-md-6">
                    <div class="animate-bars">
                        <ul class="progress-bars whyus-progress-bars"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-primary"><svg viewBox="0 0 2880 48"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
            </svg></div>
    </div><!-- You deserve better -->
    <section class="section bg-primary">
        <div class="container text-center">
            <div class="section-heading">
                <h2 class="bold text-contrast">Genuine CHANGE</h2>
                <p class="lead text-light">Webnixly Consulting drove a re-plan of work in significant organizations to
                    improve mentality, initiative practices, frameworks appropriation, and culture among employees.</p>
            </div>
        </div>
    </section><!-- Powerful Tools -->
    <section class="section">
        <div class="container mt-n9">
            <div class="row gap-y">
                <div class="col-md-6">
                    <div class="rounded media bg-contrast shadow-lg p-4 lift-hover">
                        <div class="shadow bg-primary text-contrast rounded-circle p-3 icon-xl mb-3 d-flex align-items-center justify-content-center"
                            data-aos="zoom-in"><i class="far fa-paper-plane fa-2x"></i></div>
                        <h5 class="bold text-capitalize">easy to integrate</h5>
                        <p class="text-secondary mb-0">Easily and reliably, Web-Nix-Ly, extends your stack with the any
                            technology coupling for your business while keeping complete control of the underlying
                            infrastructure</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rounded media bg-contrast shadow-lg p-4 lift-hover">
                        <div class="shadow bg-primary text-contrast rounded-circle p-3 icon-xl mb-3 d-flex align-items-center justify-content-center"
                            data-aos="zoom-in"><i class="far fa-life-ring fa-2x"></i></div>
                        <h5 class="bold text-capitalize">seamless solution</h5>
                        <p class="text-secondary mb-0">Develop, Run and Scale at faster pace, of your mission critical
                            solutions. Protecting your information and Improve Customer
                            Experience with Valuable Insigts, and drive the business Seamless. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section extending-core border-top bg-light edge bottom-right">
        <div class="shapes-container">
            <div class="shape shape-circle">
                <div></div>
            </div>
        </div>
        <div class="container">
            <div class="row gap-y align-items-center">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <p class="text-primary bold small text-uppercase">integration</p>
                        <h2 class="bold">Extend with Web-Nix-Ly</h2>
                        <p>At the point when change is the lone steady, we set you up for the eccentric. At the point
                            when innovation is the best approach to separate and intricacy hinders you, we help you
                            construct the abilities required for your advanced development.</p>
                    </div><a href="/service" class="btn btn-rounded btn-outline-primary bw-2 me-3">Know More</a>
                </div>
                <div class="col-lg-6">
                    <div class="icons-wrapper position-relative">
                        <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:100%; top: 30%;" data-aos="fade-left"><img
                                src="assets/img/technology/jenkins.svg" class="img-responsive" alt=""></div>
                        <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:60%; top: -10%;" data-aos="fade-left">
                            <img src="assets/img/technology/neo4j-icon.svg" class="img-responsive" alt="">

                        </div>
                        <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:25%; top: 0%;" data-aos="fade-left"><img
                                src="assets/img/technology/github-actions.svg" class="img-responsive" alt=""></div>
                        <div class="floating icon icon-2xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:0%; top: 50%;" data-aos="fade-left"><img
                                src="assets/img/technology/kubernets.svg" class="img-responsive" alt=""></div>
                        <div class="floating icon icon-2xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:23%; top: 70%;" data-aos="fade-left"><img src="assets/img/technology/docker.svg"
                                class="img-responsive" alt=""></div>
                        <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:65%; top: 44%;" data-aos="fade-left"><img
                                src="assets/img/technology/whatsapp.svg" class="img-responsive" alt=""></div>
                        <div class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                            style="left:95%; top: 83%;" data-aos="fade-left"><img
                                src="assets/img/technology/micronaut.svg" class="img-responsive" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>