<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/card.js"></script>
<script src="assets/js/counterup2.js"></script>
<script src="assets/js/noise.js"></script>
<script src="assets/js/noframework.waypoints.js"></script>
<script src="assets/js/odometer.js"></script>
<script src="assets/js/prism.js"></script>
<script src="assets/js/simplebar.js"></script>
<script src="assets/js/swiper-bundle.js"></script>
<script src="assets/js/jquery.easing.js"></script>
<script src="assets/js/jquery.validate.js"></script>
<script src="assets/js/jquery.smartWizard.js"></script>
<script src="assets/js/feather.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/typed.js"></script>
<script src="assets/js/jquery.magnific-popup.js"></script>
<script src="assets/js/cookieconsent.js"></script>
<script src="assets/js/jquery.animatebar.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/forms.js"></script>
<script src="assets/js/stripe-bubbles.js"></script>
<script src="assets/js/stripe-menu.js"></script>
<script src="assets/js/credit-card.js"></script>
<script src="assets/js/pricing.js"></script>
<script src="assets/js/shop.js"></script>
<script src="assets/js/svg.js"></script>
<script src="assets/js/site.js"></script>
<script src="assets/js/wizards.js"></script>
<script src="assets/js/cookie-consent-util.js"></script>
<script src="assets/js/cookie-consent-themes.js"></script>
<script src="assets/js/cookie-consent-custom-css.js"></script>
<script src="assets/js/cookie-consent-informational.js"></script>
<script src="assets/js/cookie-consent-opt-out.js"></script>
<script src="assets/js/cookie-consent-opt-in.js"></script>
<script src="assets/js/cookie-consent-location.js"></script>
<script src="assets/js/demo.js"></script>