<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ site.seo.keywords }}" />
<link rel="canonical" href="{{ page.canonical_url }}" />
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="{{ site.seo.site_name }}" />
<meta property="og:description" content="{{ page.description }}">
<meta property="og:url" content="{{ page.canonical_url }}">
<meta property="article:modified_time" content="{{ page.sitemap.lastmod }}">
<meta property="og:image" content="{{ page.pageImage }}">
<meta property="og:image:width" content="2048">
<meta property="og:image:height" content="1076">
<meta property="og:image:alt" content="homepage-banner">
<meta property="og:image:secure_url" content="{{ page.pageImage }}" />
    
<meta name="twitter:card" content="summary_large_image">
<!-- <meta property="twitter:account_id" content=""> -->
<meta name="twitter:url" content="{{ page.canonical_url }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ page.pageImage }}">
<meta name="twitter:image:alt" content="homepage-banner">

<!-- <meta property="fb:pages" content=""> -->
<script type="application/ld+json">
    [{
        "@context":"https:\/\/schema.org",
        "@type":"Organization",
        "name":"WebsiteName",
        "legalName":"WebsiteName Inc",
        "url":"https:\/\/WebsiteName.com",
        "logo":"https:\/\/WebsiteName.com\/assets\/img\/logo.jpg",
        "foundingDate":"2021",
        "headline":"Website Description, WebsiteName",
        "publisher":{
            "@type":"Organization",
            "name":"Organization Name"
        }
        "founders":[
            {"@type":"Person","name":"Organization Owner"}
        ],
        "alternateName":"Organization Brand Name",
        "sameAs":[
            "https:\/\/www.facebook.com\/WebsiteName",
            "https:\/\/www.twitter.com\/WebsiteName",
            "https:\/\/www.linkedin.com\/company\/WebsiteName"
        ],
        "address":{
            "@type":"Address",
            "addressLocality":"San Francisco",
            "addressRegion":"California",
            "postalCode":"94117",
            "addressCountry":"USA"
        },
        "contactPoint":{
            "@type":"ContactPoint",
            "contactType":"customer support",
            "telephone":"[+23-123-1254]",
            "email":"hello@WebsiteName.com"
        }
    },
    {
        "@context":"http:\/\/schema.org",
        "@type":"WebPage",
        "name":"WebsiteName - About Website",
        "description":"WebsiteName Description",
        "publisher":{
            "@type":"Organization",
            "name":"Organization Name"
        }
    }]
</script>